<!DOCTYPE html>
<html lang="en">


{{!-- // ,"nodemon": "^1.18.10" --}}

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>JOBSHALA</title>
   {{!-- <link rel="stylesheet" href="css/bootstrap.css"> --}}
   <link rel="stylesheet" href="css/style.css">
   <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <script defer src="js/jquery.js"></script>
   <script defer src="js/axios.js"></script>
   <script defer src="js/typed.js"></script>
   <script defer src="js/main.js"></script>
</head>

<body>


   <div class="navbar">
      <div class="title">
         <p> <a href="/"> JOBSHALA </a></p>
      </div>
      <div>
         <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/search">Jobs </a></li>
            <li><a href="/about" class="active">About Us </a></li>
            <li><a href="/contact">Contact Us </a></li>
         </ul>
      </div>
   </div>

   <div id="img">

      <h1>Meet our Team Members who have worked hard to bestow this project to you...........</h1>

      <div class="row-img">
         <div class="column-img">
            <div class="card-img">
               <img src="../assets/images/jatin.jpg" alt="Jagdish" style="width:100%">
               <div class="container-img">
                  <h2>Jagdish Parihar</h2>
                  <h4 class="title-img">Back-End Developer and Director</h4>
                  <p>Mr. Jagdish has immense power of leading and probating his members to achieve goals and is a
                     very
                     good Back-End Developer. He has completed some projects which you can check on github.</p>
                  <i class="far fa-envelope">&nbsp;&nbsp;</i><i>
                     jatin6972@gmail.com
                  </i>
                  <p><i class="fab fa-facebook-f">&nbsp;&nbsp;</i><a href="https://www.facebook.com/jatinp510"
                        target="_blank">Jagdish</a></p>
               </div>
            </div>
         </div>

         <div class="column-img">
            <div class="card-img">
               <img src="../assets/images/preeti.jpg" alt="Preeti" style="width:100%">
               <div class="container-img">
                  <h2>Preeti Shah</h2>
                  <h4 class="title-img">Researcher</h4>
                  <p>Ms. Preeti is highly skilled in researching and collecting data and to present it to the team
                     members. She has worked on some big projects.</p>
                  <i class="far fa-envelope">&nbsp;&nbsp;</i><i>
                     preetisah1998@gmail.com
                  </i>
                  <p><i class="fab fa-facebook-f">&nbsp;&nbsp;</i><a
                        href="https://www.facebook.com/profile.php?id=100004911549654" target="_blank">Preeti</a></p>
               </div>
            </div>
         </div>

         <div class="column-img">
            <div class="card-img">
               <img src="../assets/images/shankey.jpg" alt="Shankey" style="width:100%">
               <div class="container-img">
                  <h2>Shankey Mundey</h2>
                  <h4 class="title-img">Front-End Designer</h4>
                  <p>Mr. Shankey is a profound Front-End Developer and knows to keep the workspace friendly and
                     gratifying.</p>
                  <i class="far fa-envelope">&nbsp;&nbsp;</i><i>
                     example@example.com
                  </i>
                  <p><i class="fab fa-facebook-f">&nbsp;&nbsp;</i><a href="https://www.facebook.com/shankey.mundey"
                        target="_blank">Shankey</a></p>
               </div>
            </div>
         </div>
      </div>

      <div class="column-img">
         <div class="card-img">
            <img src="../assets/images/shubham.jpg" alt="Shubham" style="width:100%">
            <div class="container-img">
               <h2>Shubham Badola</h2>
               <h4 class="title-img">Innovator and Spokesperson</h4>
               <p>Mr. Shubham has given motivational speeches to some of the popular SparkTalks and seminars and is very
                  flair in bringing new ideas for projects.</p>
               <i class="far fa-envelope">&nbsp;&nbsp;</i><i>
                  shub.drift12@gmail.com
               </i>
               <p><i class="fab fa-facebook-f">&nbsp;&nbsp;</i><a href="https://www.facebook.com/shubham.badola.4"
                     target="_blank">Shubham</a></p>
            </div>
         </div>
      </div>
   </div>




   </div>


   <footer id="img-footer">
      <div class="social-media">
         FOllOW US ON: <br><br>

         <div class="media">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-3x"></i></a> &nbsp;
            <a href="https://www.facebook.com"><i class="fab fa-facebook fa-3x"></i></a>&nbsp;
            <a href="https://www.github.com"><i class="fab fa-github fa-3x"></i></a>&nbsp;
         </div>
      </div>
   </footer>
</body>

</html>