<!DOCTYPE html>
<html lang="en">


{{!-- // ,"nodemon": "^1.18.10" --}}

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>JOBSHALA</title>
   {{!-- <link rel="stylesheet" href="css/bootstrap.css"> --}}
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <script defer src="js/jquery.js"></script>
   <script defer src="js/axios.js"></script>
   <script defer src="js/typed.js"></script>
   <script defer src="js/main.js"></script>
</head>

<body>


   <div class="navbar">
      <div class="title">
         <p> <a href="/"> JOBSHALA </a></p>
      </div>
      <div>
         <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/search">Jobs </a></li>
            <li><a href="/about">About Us </a></li>
            <li><a href="/contact" class="active">Contact Us </a></li>
         </ul>
      </div>
   </div>


   <main>

      <div id="feedback">
         <ul>hi hello dkjdlkfkjldfsssssssssssssssssssssss
            <br>
            kjkldf
            <br>
         </ul>
         hello
      </div>
      <div class="contact">
         <h1>Contact Us </h1>
         <div class="options">
            Name : <br>
            <input type="text" placeholder="Enter Your Name..." id="feedback-name">
            <br>
            Email : <br>
            <input type="email" placeholder="Enter Your Email..." id="feedback-email">
            <br>
            Country : <br>
            <input type="text" placeholder='Enter Your Country...' id="feedback-country">
            <br>
            Subject : <br>
            <input type="text" placeholder="Write Something...." id="feedback-message">
            <br>

            <button type="submit" style="margin-left: 350px;font-size:19pt" id="feedback-submit">SUBMIT</button>

         </div>
      </div>

   </main>


   <footer>
      <div class="social-media">
         FOllOW US ON: <br><br>

         <div class="media">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-3x"></i></a> &nbsp;
            <a href="https://www.facebook.com"><i class="fab fa-facebook fa-3x"></i></a>&nbsp;
            <a href="https://www.github.com"><i class="fab fa-github fa-3x"></i></a>&nbsp;
         </div>
      </div>
   </footer>
</body>

</html>