<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   {{!-- <link rel="stylesheet" href="css/bootstrap.css"> --}}
   <link rel="stylesheet" href="css/style.css">

   <script defer src="js/jquery.js"></script>
   <script defer src="js/axios.js"></script>
   <script defer src="js/typed.js"></script>
   <script defer src="js/main.js"></script>
</head>

<body>

   <nav class="navbar">
      <div class="title">
         <p>JOB SEARCH</p>
      </div>
      <div>
         <ul>
            <li><a href="">Home </a></li>
            <li><a href="#">Jobs </a></li>
            <li><a href="#">About Us </a></li>
            <li><a href="#">Contact Us </a></li>
         </ul>
      </div>
   </nav>

   <main>
      <div class="typer">
         <div class="main-image"></div>
         <div class="type-center">
            <div id="typed-strings">
               <p>Want <strong>Job</strong> !!!</p>
               <p>Get <strong>Job</strong> here...</p>
            </div>
            <span id="typed"></span>
         </div>

      </div>
   </main>
</body>

</html>